*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* font awesomr */
.fa-youtube{
    color: red;
    padding: 5px;
}
.fa-tiktok{
    color: #1E3050;
}
/* font awesomr */



/* nav style start*/
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-font-awesome{
    background-color: #E7E6E9;
    padding: 5px 20px;
    border-radius: 5px;
}

.primary-title{
    display:flex;
    align-items: center;
    margin-left: 200px;
}
.left-nav-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 200px;
}

.left-nav-container> ul a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

/* nav style end*/







/* banner style start */

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title1{
    color: #0B0223;
    font-size: 37px;
    font-weight: 600;
    text-transform: uppercase;
}


.game-logo{
    font-size: 35px;
    font-weight: 700;
    color: #0B0223;
    padding: 15px;
}
.game-span{
    color: #FF42A5;
}

/* .left-banner{
    background-image: url(./images/Group\ 14.png);
} */

.banner-title2{
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.banner-list{
    color: #534C64;
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
    list-style: none;
    margin-bottom: 20px;
}
.banner-list li{
    padding: 5px;
}

.btn-banner{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 20px;
    gap: 10px;
    background-color: #FF42A5;
    border: 0;
    border-radius: 30px;
}
.btn-banner2{
    background-color: #4EC5F7;
}
/* banner style end */


/* Online Games Funny Videos start */
.funny-info{
    text-align: center;
    padding: 50px 0;
}
.funny-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.funny-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-desh{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}
.funny-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
}
.fun-image-desh{
    width: 244px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    }

/* Online Games Funny Videos end */



/* play game style start */
.play-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 1920px;
    height: auto;
    padding: 50px 0;
    background: #FFF;

}
.play-left-container{
    position: relative;
}

.big-image{
    position: relative;
}
.small-image{
    position: absolute;
    left: 500px;
    top: 400px;
    
}

.play-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-desh{
    width: 480px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}


/* play game style end */


/* play game style start */
.play-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 1920px;
    height: auto;
    padding: 50px 0;
    background: #FFF;

}
.play-left-container{
    position: relative;
}

.big-image{
    position: relative;
}
.small-image{
    position: absolute;
    left: 500px;
    top: 400px;
    
}

.play-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-desh{
    width: 480px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}


/* play game style end */
.hide{
    display: none;
}

/* game itams start */

.game-manu-container{
    margin-top: 150px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
/
}
.manu-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.game-manu-container2{
    margin-top: 50px;
    margin-bottom: 70px;
}

/* game itams end */


/* footer section start */

.footer-container{
    text-align: center;
    width: auto;
    height: 636px;
    flex-shrink: 0;
    background: #0B0223;
}
.logo-game{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 15px;
}
.footer-title{
    color: #FFF;
}

.footer-service ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 100px;

    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;
}

.social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px ;
}

.fb-icon{
    width: 60px;
    height: 40px;
}
.fa-brands {
    width: 100%;
    height: 100%;
}



/* .fa-brands{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    } */
/* footer section end */







/* media quari start */
/* @media screen and (max-width:576px) {
    .navber{
        flex-direction: column;
        width: 1400px;
        height: auto;
        justify-content: center;
    }
    .primary-title{
        flex-direction: column;
        width: 1400px;
        height: auto;
    }
} */

/* media quari end */